[flake8]
exclude =
    src/migrations
    __pycache__
    env
    .env
    ./env
    env/
    .env/
max-line-length = 88
ignore = D104,D100,Q000,Q100,WPS400,WPS226,WPS210,WPS220,WPS432,WPS110,WPS229,B008,WPS204,F821,WPS404